results/
data/*
!data/uci/
!data/shakespeare/
.vscode/

__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/

*.egg-info/
build/
dist/
*.egg

.coverage
htmlcov/

*.pkl
*.npz
*.npy
*.csv
*.ipynb

*runs/
*experiment_results/
